<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030614287603-kct0jeqpnpkvl8ehifmvuf2gog8osh42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030614287603-kct0jeqpnpkvl8ehifmvuf2gog8osh42</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1030614287603-gvhv5jupg3eel9gbot1enlabpplk6r64.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYRSX2usn78dZm1F6VPnPfQHgmuh2b7cE</string>
	<key>GCM_SENDER_ID</key>
	<string>1030614287603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bifatApp</string>
	<key>PROJECT_ID</key>
	<string>laundry-bifat</string>
	<key>STORAGE_BUCKET</key>
	<string>laundry-bifat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030614287603:ios:71bd58d13563304cf46386</string>
</dict>
</plist>